body{
  top:0px;
  margin: 0px;
  padding: 0px;
}
 ul > ul {
  visibility: hidden;
  top:0px;
  left: 200px;
  position: absolute;
  height: 350px;
  transform: translateX(-50px);
  transition:opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
}
 li:focus + ul{
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
ul:focus:within{
  visibility: visible;
}
li{
  list-style-type: none;
  padding: 10;
}
.main_menu{
  list-style-type: none;
  padding: 0;
  top: 0px;
  left: 0px;
  margin: 0px;
}
ul{
  padding: 0px;
  display: inline-block;
  width:auto;
  height: 500px;
  position: relative;
  width: 200px;
  height: 350px;
}